{% extends "header.html" %}

{% block content %}
<!-- Main Content-->
<div class="container py-2"></div>
<div class="container px-4 px-lg-5 my-4 ">
    <div class="row gx-4 gx-lg-5  justify-content-center ">
        <div class="col-md-8 col-lg-8 col-xl-8 ">
            <div class="intro-section ">
                <h1 class="heading text-left mb-4" >LET ME INTRODUCE MYSELF</h1>
                <p class="body-text text-justify" >Hey there! I'm Kushal Regmi, a caffeine-fueled second-year Computer Engineering student. My life is a mix of Python scripts, C++ algorithms, and JavaScript quirks. Dive in to see my projects and coding escapades!</p>
                <p class="body-text text-justify" >From my first "Hello, World!" to now, it's been a wild ride. I'm proficient in Python, C++, C, HTML and CSS. Let's turn ideas into code together!</p>
                
            </div>
            <div class="skills-section">
               </blockquote> <h2 class="heading text-left my-4 pt-3" ">Skills & Technologies</h2>
                <ul class="list-inline text-lefts" style="padding: 20px;">
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/python.png" alt="Python" title="Python">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/html-5.png" alt="HTML" title="HTML">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS" title="CSS">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png" alt="C++" title="C++">
                    </li>
                    <li class="list-inline-item m-2"></li>
                        <img src="https://img.icons8.com/color/48/000000/c-programming.png" alt="C" title="C">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 text-center ">
            <img src="../static/assets/img/profile.jpg" class="img-fluid rounded-circle  " alt="Your Image">
        </div>
    </div>
</div>

{% endblock %}



